.btn-primary{
  text-align: center;
  background-color: #1c1d22;
  padding: 0 30px;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
}

.btn-transparent{
  border: 1px solid #fff;
  position: relative;
  width: 120px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}